.bug_details_css{
    background-color: #002b45;

    .bug_content_css{
        color: #ffffff;
        margin: 25px 10px;
        overflow: auto;
        .content_header{
            border: 1px solid #128AD3;
            border-radius: 10px;
            background-color: #128AD3;
            padding: 25px;
            display: flex;
            margin-bottom: 25px;
            h4{
                color: #ffffff;
            } 
        }
        .content_body{
            border: 1px solid #ffffff;
            border-radius: 10px;
            background-color: #ffffff;
            padding: 25px;
            margin-bottom: 25px;
        }
        .ant-table-tbody{
            font-size: 12px;
        }
        .btn-css{
            color: #ffffff;
            background: #06044c;
            width: 150px;
            border: 1px solid #06044c;
            font-weight: 600;
            border-radius: 4px;
            height: 40px;
        }
    }
}