.welcome_css{
    background-color: #06044c;
    color: #ffffff;
    // transition-delay: 250ms;
    // transform: translateY(-100%);
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s;
    // transform: translateY(-100%);
    // transition: transform 400ms ease-in;
    // #welcome {
    //   // width: 220px;
    //   transform: translateY(-100%);
    //   // transition: transform 400ms ease-in;
    // }
    // #welcome.slideIn {
    //   transform: translateY(-100%);
    // }
    // #welcome.slideOut {
    //   transform: translateY(-100%);
    // }

        h1{
          color: #ffffff;
          // font-size: 5rem !important;
          font-weight: 700;
      }
    
    
    .wel_msg_css{
        position: relative;
        // left: 15%;
        top: 40%;
        width: 100%;
        height: 100vh;
    }
      @-webkit-keyframes animatebottom {
        // from { bottom:-100%; opacity:0 } 
        // to { bottom:0; opacity:1 }
        from {
          transform: translateY(100%);
        }
        to{
          transform: translateY(0%);
        }
      }
      @keyframes animatebottom { 
        // from{ bottom:-100%; opacity:0 } 
        // to{ bottom:0; opacity:1 }
        from {
          transform: translateY(100%);
        }
        to{
          transform: translateY(0%);
        }
      }

//       .on-click-effect.bottom-to-top-effect::after { top: 100%; }
// .on-click-effect.bottom-to-top-effect.clicked::after { top: 0; }
}