// .ant-breadcrumb{
//     margin: auto 20px auto auto;
//     color: #ffffff;
// }
// .number_outline{
//     border: 1px solid #ffffff;
//     border-radius: 100px;
//     padding: 5px 9px;
//     margin-right: 5px;
// }
// .selected_css{
//     background-color: #ffffff;
//     color: #000000;
// }
// .ant-breadcrumb-link, .ant-breadcrumb-separator{
//     color: #ffffff;
// }
// .ant-breadcrumb a, .ant-breadcrumb > span:last-child a{
//     color: #ffffff;
//     text-decoration: none;
// }
.ant-steps-item-finish .ant-steps-item-icon{
    background-color: #000 !important;
    border-color: #000 !important;
  }
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title, .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title, .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title{
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title{
    font-weight: 500 !important;
  }
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
    background-color: #ffffff !important;
  }
  .ant-steps-item-wait .ant-steps-item-icon {
    border-color: #ffffff !important;
    background-color: #128AD3 !important;
  }
  .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon{
    color: #fff !important;
  }
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon{
    background-color: #fff !important;
  }
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon .ant-steps-icon{
    color: #000 !important;
  }
  .ant-steps-item-title::after{
    height: 2px !important;
  }
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
    background: #fff !important;
}
