@import "node_modules/@pathofdev/react-tag-input/src/styles/index.scss";

.home_css{
    background-color: #002b45;
    .code-box-demo {
        text-align: center;
    }
    .home_content_css{
        color: #ffffff;
        margin: 25px 10px;
        overflow: auto;
        .home_header{
            border: 1px solid #128AD3;
            border-radius: 10px;
            background-color: #128AD3;
            padding: 25px;
            display: flex;
            margin-bottom: 25px;
            h4{
                color: #ffffff;
            } 
        }
        .home_body{
            border: 1px solid #128AD3;
            border-radius: 10px;
            background-color: #128AD3;
            padding: 25px;
    
            h4{
                color: #ffffff;
            }
            .ant-checkbox-wrapper{
                color: #ffffff;
                font-weight: 600;
            }
            .input_css{
                border: 1px solid white;
                height: 50px;
                border-radius: 4px;
                width: 36.5%;
                padding: 10px;
                color: #636060;
                font-weight: 500;
                font-size: 15px;
            }
            .btn-css{
                color: #ffffff;
                background: #06044c;
                width: 150px;
                border: 1px solid #06044c;
                font-weight: 600;
                border-radius: 4px;
                height: 40px;
            }
            .ant-select-selection-placeholder{
                padding-top: 3px;
            }
            .ant-select-selector{
                height: 50px !important;
                border: 1px solid white;
                border-radius: 4px;
            }
            .date_picker_css{
                width: 24.6%;
                border: 1px solid white;
                border-radius: 4px;
                height: 50px;
                margin-right: 10px;
            }
            .react-tag-input{
                border: 1px solid white;
                border-radius: 4px;
                padding: 10px;
                color: #636060;
                font-weight: 500;
                font-size: 15px;
                width: 50%;
            }
            .btn_css{
                font-size: 15px;
                font-weight: 500;
                height: 40px;
                width: 100px;
                border-radius: 4px;
                color: white;
                background: #128AD3;
                border: 1px solid white;
                position: relative;
                left: -90px;            
            }
            .ant-select-selection-placeholder{
                // padding-top: 10px; 
                color: #636060;
                font-size: 15px;
                font-weight: 500;
            }
            .ant-picker-large .ant-picker-input > input{
                color: #636060;
                font-size: 15px;
                font-weight: 500;
            }
            // .ant-upload-list-item, .ant-upload-list{
            //     position: relative;
            //     left: -85px;
            //     top: -5px;
            // }
            .file_btn_css{
                background: none;
                border: 0;
                color: #128AD3;
                position: relative;
                left: -105px;
                box-shadow: none;
                // top: 10px;
            }
            // .ant-input{
            //     width: 20px;
            //     margin-right: 5px;
            //     height: 15px;
            // }
            .position-left{
                position: relative;
                left: -90px;
                width: 20%;
            }
            .add-pos-l{
                position: relative;
                left: -65px;
            }
            .rem-pos-l{
                position: relative;
                left: -65px;
            }
            .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector::after, .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item, .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-placeholder{
                top: 5px;
            }
        }
    }
    
    .toggle-menu {
        // margin-bottom: 16px;
        position: absolute;
        top: 40%;
        left: -3px;
        padding: 5px 0;
        border: 1px solid #FAFAFA;
        border-top-left-radius: 10rem;
        border-bottom-left-radius: 9rem;
        background: #FAFAFA;
        height: 60px;
    }
    .ant-menu{
        border-radius: 10px;
    }
    .ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub, .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background: #FAFAFA;
    }
    .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a{
        color: #000;
    }    
    .ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark.ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover{
        color: #000;
    }
    .ant-menu-submenu-expand-icon, .ant-menu-submenu-arrow{
        color: #000;
    }
    .ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub{
        color: #000 !important;
        background: #FAFAFA;
    }
}
.ant-menu-inline-collapsed:not(.ant-layout-sider-children > ul){
    width: fit-content !important;
    // text-align: center;
}
.ant-menu-submenu-title{
    // padding-left: 0 !important ;
    // text-align: center;
}
