.wrapper{
  // padding: 12px 24px !important;
  background: white;
  padding: 15px;
  .notifications {
    overflow: hidden;
    border-radius: 12px;
    width: 200px;
  
    @media (min-width: 767px) {
        min-width: 250px;
    }
  
    @media (min-width: 1200px) {
        min-width: 300px;
    }
    .notificationListingItems {
      padding: 0 0 15px 0px;
      border-radius: 12px;
      background-color: #ffffff;
      max-height: 60vh;
      overflow: auto;
    
      .img {
        width: 48px;
        height: 48px;
        border-radius: 5px;
        background-color: #ffaa87;
        padding: 12px;
        margin-right: 8px;
    
        img {
          width: 22px;
          height: 22px;
        }
      }
        
      li {
        padding: 20px 20px 0 20px !important;
    
        // @media (min-width: 767px) {
        //   padding: 20px 20px 0 20px !important;
        // }
      }
    }
  }
}