.result_css{
    background-color: #002b45;

    .result_content_css{
        color: #ffffff;
        margin: 25px 10px;
        overflow: auto;
        .content_header{
            border: 1px solid #128AD3;
            border-radius: 10px;
            background-color: #128AD3;
            padding: 25px;
            display: flex;
            margin-bottom: 25px;
            h4{
                color: #ffffff;
            } 
        }
        .content_body{
            border: 1px solid #ffffff;
            border-radius: 10px;
            background-color: #ffffff;
            padding: 25px;
        }
        .chart {
            margin: 25px 0 0 0;
            height: 300px;
          
            @media (min-width: 767px) {
              margin: 30px 0 0 0;
              height: 350px;
            }
          
            @media (min-width: 992px) {
              margin: 35px 0 0 0;
              height: 400px;
            }
        }          
    }
}