.sider_css{
    .ant-layout-sider-children {
        color: #fff;
        min-height: 100vh;
        background: #06044c !important;
        
    }
    [data-theme="dark"] .ant-layout-sider-children {
        background: #06044c;
    }  
    .ant-menu{
        background: #06044c;
        color: #ffffff;
    }
    .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
        border-right: 5px solid #00adef;
        border-radius: 2px;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background: #05165d;
        color: #ffffff;
    }
    .ant-menu::before, .ant-menu::after{
        display: none;
    }
    .ant-layout-sider-zero-width-trigger{
        position: absolute;
        top: 24px;
        right: -60px;
    }
}