.login_css{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    color: #ffffff;
    
    @media (min-width: 992px) {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .part_2{
        padding: 20px;
        width: 100%;
        // position: relative;
        background-color: #06044c;
        // height: 100%; 
        height: 100vh; //to make responsive
        // min-height: 100vh;
    }
    .content{
        padding: 40px;
        height: 100%;
        // min-height: 100vh;
        // width: 100%;
        // position: relative;
        // background-color: #06044c;
        
        h2,p{
            color: #ffffff;
        }

        @media (min-width: 992px) {
            width: 100%;
            padding: 95px 106px;
          }
        
        //   @media (min-width: 1024px) {
        //     overflow: hidden auto;
        //     height: calc(100vh - 330px);
        //   }
        
        //   @media (min-width: 1440px) {
        //     height: calc(100vh - 250px);
        //   }
        
        //   @media (min-width: 1920px) {
        //     height: auto;
        //   }
        
    }
    .mainContent {
        margin: auto;
        width: 100%;
        max-width: 500px; 
    }
    .textlink {
        &,
        &:hover {
          color: #3d7edb;
          font-family: "Barlow", sans-serif;
          font-size: 12px;
          font-weight: 700;
          font-style: normal;
          letter-spacing: 0.5px;
          line-height: 20px;
          text-align: right;
          text-transform: capitalize;
        }
    }
    .img_content{
        width: 50%;
        height: 100%;
        background-color: #002b45;
        height: 100vh;
    }
    .sliderItem {
        height: 100vh;
        width: 100%;
        display: inline-flex !important;
        position: absolute;
      
        img {
          width: 100%;
          height: 100%;
        }
    }
    ::placeholder, input {
        color: #62628e;
    }
    .input_css {
        background: #06044c;
        border-bottom: 1px solid #62628e;
        padding: 0 0 15px 0;
        outline: none !important;
    }
    .input_css:-internal-autofill-selected{
        background-color: #06044c!important;
    }
    .input_css:hover{
        background-color: #06044c !important;
    }
    .ant-form-item-has-error .ant-input:focus, .ant-form-item-has-error .ant-input-affix-wrapper:focus, .ant-form-item-has-error .ant-input-focused, .ant-form-item-has-error .ant-input-affix-wrapper-focused{
        box-shadow: none !important;
    }
    .ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover{
        border-color: #62628e ;
    }

    //added now
    .sliderImgWrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
      
        &:after {
          position: absolute;
          content: "";
          background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            #000000 100%
          );
          opacity: 0.8;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
        }
      }
      .sliderImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: inline-block !important;
      }
    .sliderContent {
        width: 50%;
        height: 100vh;
        background-color: #002b45;
      }
      .heading {
        color: #002b45;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.5px;
        text-align: left;
        font-size: 24px;
        line-height: 32px;
      
        @media (min-width: 767px) {
          font-size: 28px;
          line-height: 36px;
        }
      
        @media (min-width: 992px) {
          font-size: 32px;
          line-height: 40px;
        }
      
        @media (min-width: 1200px) {
          font-size: 40px;
          line-height: 48px;
        }
      }
    .upperImageContent{
        padding: 40px;
        margin: auto 0 0 0;
        position: relative;
        max-width: 600px;
        z-index: 2;
        // top: 280px;
    }
    .cisco_img{
        height: 50px;
        width: 50px;
    }
    .sliderItemContent {
        padding: 40px;
        margin: auto 0 0 0;
        position: relative;
        max-width: 600px;
        z-index: 2;
        top: 280px;
      
        @media (min-width: 767px) {
          padding: 60px;
        }
      
        @media (min-width: 992px) {
          padding: 80px;
        }
      
        @media (min-width: 1200px) {
          padding: 60px;
        }
      }
    
}

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s !important;
        -webkit-text-fill-color: #62628e !important;
    }

    