@import '~antd/dist/antd.css';
@import "~bootstrap/scss/bootstrap";
.fnt-300 {
  font-weight: 300 !important;
}

.fnt-400 {
  font-weight: 400 !important;
}

.fnt-500 {
  font-weight: 500 !important;
}

.fnt-600 {
  font-weight: 600 !important;
}

.fnt-700 {
  font-weight: 700 !important;
}

.fnt-barlow {
  font-family: 'Barlow', sans-serif !important;
}

.fnt-msrt {
  font-family: 'Montserrat', sans-serif !important;
}

.fnt-xxs{
  font-size: 9px;
}

.fnt-xs {
  font-size: 12px !important;
}

.fnt-sm {
  font-size: 12px !important;

  @media (min-width: 767px) {
    font-size: 14px !important;
  }
}

.fnt-md {
  font-size: 14px !important;

  @media (min-width: 767px) {
    font-size: 16px !important;
  }
}

.fnt-mlg {
  font-size: 16px !important;

  @media (min-width: 767px) {
    font-size: 18px !important;
  }
}

.fnt-lg {
  font-size: 16px !important;

  @media (min-width: 767px) {
    font-size: 18px !important;
  }

  @media (min-width: 992px) {
    font-size: 20px !important;
  }
}

.fnt-xl {
  font-size: 18px !important;

  @media (min-width: 767px) {
    font-size: 20px !important;
  }

  @media (min-width: 992px) {
    font-size: 24px !important;
  }
}

.fnt-xxl {
  font-size: 20px !important;

  @media (min-width: 767px) {
    font-size: 24px !important;
  }

  @media (min-width: 992px) {
    font-size: 28px !important;
  }
}

.fnt-xxlg {
  font-size: 24px !important;

  @media (min-width: 767px) {
    font-size: 28px !important;
  }

  @media (min-width: 992px) {
    font-size: 32px !important;
  }
}

.fnt-xxxlg {
  font-size: 28px !important;

  @media (min-width: 767px) {
    font-size: 32px !important;
  }

  @media (min-width: 992px) {
    font-size: 36px !important;
  }
}

.ls-08 {
  letter-spacing: 0.89px !important;
}

.ls-1 {
  letter-spacing: 1px !important;
}

.ls-02 {
  letter-spacing: 0.24px !important;
}

// margin

.mt80 {
  margin-top: 40px;

  // @media (min-width: 768px) {
  //   margin-top: 80px;
  // }
}

// .p80 {
//   padding: 40px 0;

//   @media (min-width: 768px) {
//     padding: 80px 0;
//   }
// }

.m80 {
  margin: 40px 0;

  // @media (min-width: 768px) {
  //   margin: 80px 0;
  // }
}

.m40 {
  margin: 20px 0;

  // @media (min-width: 768px) {
  //   margin: 40px 0;
  // }
}

// .m60 {
//   margin: 30px 0;

//   @media (min-width: 768px) {
//     margin: 60px 0;
//   }
// }

.mt40 {
  margin-top: 20px;

  // @media (min-width: 768px) {
  //   margin-top: 40px;
  // }
}

.mt130 {
  margin-top: 75px;

  // @media (min-width: 768px) {
  //   margin-top: 130px;
  // }
}

.txt-ellipsis {
  text-overflow: ellipsis;
  overflow     : hidden;

  // @media (min-width: 768px) {
  //   white-space: nowrap;
  // }


}
.text-primary {
  color: #0069e0 !important;
}

.text-blue {
  color: #003b53 !important;
}

.txt-secondary {
  color: #002b45 !important;
}

.text-grey {
  color: #1d1d1d;
}

.bg-white {
  color: #ffffff !important;
}

.txt-lgtWhite {
  color: #fcfbfc;
}

.txt-light {
  color: #ded3de;
}

.text-ltblue {
  color: #049ecc; 
}

.text-green {
  color: #34b233;
}

.text-red  {
  color:#ff3f3f ;
}

.text-paraBlue {
  color: #7292a0 !important;
}

.text-paraLight {
  color: #567283;  
}

.text-paraWhite {
  color: #71c8e2 !important;
}
.text-justify  { text-align: justify !important; }
.text-nowrap   { white-space: nowrap !important; }

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

.font-italic        { font-style: italic !important; }

.text-align{
  text-align: center !important;
}
.float-l{
  float: left !important;
}
.float-r{
  float: right;
}
.align-center{
  align-items: center;
}
.display-flex{
  display: flex;
}
.border-bg-outlined-none{
  outline: none;
  background: none;
  border: 0;
}
.text-bluelight{
  color: #128AD3;
}
.text-decoration-underline{
  text-decoration: underline;
}
.cursor-pointer{
  cursor: pointer;
}
.m-auto{
  margin: auto;
}
.w-70{
  width: 70%;
}
.w-50{
  width: 50%;
}
.display-block{
  display: block;
}
.display-none{
  display: none;
}